header.header 
    .container-fluid
        .header-content 
            a.header-content__logo(href="/")
                img(src="assets/images/logo.svg", alt="")
                span.text 
                    span.text-title Profile
                    span.text-small manufacture
            .header-content__menu
                .header__part.d-hid.header__toggle
                    .menu-toggle-cont
                        span.menu-toggle
                .fixed-menu#nav
                    ul.main-menu 
                        li.main-menu__item 
                            a.main-menu__link(href="#") Производство
                        li.main-menu__item 
                            a.main-menu__link(href="#") Проекты
                        li.main-menu__item 
                            a.main-menu__link(href="#") О компании
                        li.main-menu__item 
                            a.main-menu__link(href="#") Контакты
            a.header-content__catalog(href="#") 
                svg(xmlns="http://www.w3.org/2000/svg" width="19" height="20" viewBox="0 0 19 20" fill="none")
                    path(d="M15.0438 13.5954C13.7374 13.5954 12.6747 14.6955 12.6747 16.0477C12.6747 17.3999 13.7375 18.5 15.0438 18.5C16.35 18.5 17.4128 17.3999 17.4128 16.0477C17.4128 14.6955 16.35 13.5954 15.0438 13.5954ZM15.0438 17.0286C14.5211 17.0286 14.0961 16.5887 14.0961 16.0477C14.0961 15.5067 14.5211 15.0668 15.0438 15.0668C15.5664 15.0668 15.9914 15.5067 15.9914 16.0477C15.9914 16.5887 15.5664 17.0286 15.0438 17.0286Z" fill="#E92D28")
                    path(d="M18.849 4.11739C18.7144 3.93911 18.508 3.83512 18.2894 3.83512H4.3871L3.74744 1.06475C3.67092 0.733707 3.38495 0.5 3.05612 0.5H0.710723C0.318178 0.499962 0 0.829318 0 1.23565C0 1.64199 0.318178 1.97135 0.710723 1.97135H2.49514L4.80499 11.9758C4.88151 12.3072 5.16748 12.5406 5.4963 12.5406H16.56C16.8867 12.5406 17.1714 12.3101 17.2498 11.9819L18.9793 4.7476C19.0316 4.52791 18.9835 4.29566 18.849 4.11739ZM16.0039 11.0692H6.05729L4.7268 5.30651H17.3813L16.0039 11.0692Z" fill="#E92D28")
                    path(d="M6.44393 13.5954C5.1376 13.5954 4.07486 14.6955 4.07486 16.0477C4.07486 17.3999 5.13764 18.5 6.44393 18.5C7.75023 18.5 8.81301 17.3999 8.81301 16.0477C8.81301 14.6955 7.75023 13.5954 6.44393 13.5954ZM6.44393 17.0286C5.92132 17.0286 5.4963 16.5887 5.4963 16.0477C5.4963 15.5067 5.92132 15.0668 6.44393 15.0668C6.96655 15.0668 7.39157 15.5067 7.39157 16.0477C7.39157 16.5887 6.96655 17.0286 6.44393 17.0286Z" fill="#E92D28")
                span.text Интернет магазин
            .header-content__info
                .header-content__info_search 
                    .header-content__info_search_button
                        img(src="assets/images/seacrh.svg", alt="")
                .header-content__info_phones 
                    .header-content__info_phones_button
                        a.phone(href="tel:87272329360") +7 (727) 232 93 60
                .header-content__info_language
                    .header-content__info_language_button
                        a.link(href="#") ҚАЗ     

